body{
   background-color: #000;
   background-image: url("tetris.jpg") ; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center; 
}

.efg{
    overflow: hidden;
    background-color:none;
    Position: absolute;
    Top: 60%;
    Left: 35%;
    
    
}
.efg li{
    display: inline-block;
    margin: 6px;
    list-style: none;
   font-family: cursive;
   font-size:  40px;
    
}
.efg li a{
    
    color:white;
    float:center;
    text-align: justify center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17;
}
pro.content
{
border-style: inset;
border-style: outset;

top:80px;
left:180px;
position:absolute;
background-color: black;
color:white;
height:300px;
width:900px;
overflow-y:auto;
font-family: OCR A Std, monospace;

}
a:hover, a:active {
    background-color: rgba(210, 212, 223, 0.281);
}